body {
  background-color: var(--background-color);
}

:root {
  --background-color: #00008b;
  --font-main: "Super-font";
}

.bat {
  --background-color: #484848;
  --font-main: "Bat-font";
}

/* caixa principal */
#container {
  margin: auto;
  width: 360px;
  height: 720px;
  border: solid red 1px;
}

/* caixa do perfil */
#profile {
  text-align: center;
}

#profile img {
  width: 112px;
  margin: auto;
  display: block;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

/* Fontes dos Textos */
@font-face {
  font-family: "Super-Font";
  src: url("./Assets/Fontes/Super-Mode.ttf") format("woff2");
}

@font-face {
  font-family: "Bat-font";
  src: url("./Assets/Fontes/Bat-Mode.ttf") format("woff2");
}
