body {
  background-color: #00008b;
}

/* caixa principal */
#container {
  margin: auto;
  width: 360px;
  height: 720px;
  border: solid red 1px;
}

/* caixa do perfil */
#profile {
  text-align: center;
}

#profile img {
  width: 112px;
  margin: auto;
  display: block;
}