* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

body * {
  font-family: var(--font-main);
  color: var(--font-color);
  font-size: var(--font-size);
}

:root {
  --background-color: #00008b;
  --font-main: "Super-font";
  --font-color: red;
  --font-size: 25px;
}

.Bat {
  --background-color: #484848;
  --font-main: "Bat-font";
  --font-color: black;
  --font-size: 14px;
}

/* caixa principal */
#container {
  margin: auto;
  width: 360px;
  margin: 46px auto 0px;
}

/* caixa do perfil */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
  display: block;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Fontes dos Textos */
@font-face {
  font-family: "Super-Font";
  src: url("./Assets/Fontes/Super-Mode.ttf") format("woff2");
}

@font-face {
  font-family: "Bat-font";
  src: url("./Assets/Fontes/Bat-Mode.ttf") format("woff2");
}

/* Social Buttons */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  
  background: rgba(0, 0, 0, 0.185);
  border: 1px solid rgba(129, 129, 129, 0.5);
  border-radius: 10px;
  
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  
  text-decoration: none;
  font-weight: 500;
  
  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
border: 1.5px solid white;
background: rgba(255, 255, 255, 0.05);
}